@font-face {
    font-family: digital-7mono;
    src: url("./fonts/digital-7\ \(mono\).ttf");
}

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #DC661F;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    color: #F6f6e9;
}

* {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.left {
    flex: 1;
    padding-left: 20px;
}

.heading > h1 {
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    padding: 0;
    margin: 0;
}

#underline {
    background-color: #1D7151;
    height:3px;
    width: 90%;
}

.heading > h3 {
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator#body {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #00004D;
    border: 3px solid #F6f6e9;
    border-radius: 6px;
    height: 600px;
    width: 365px;
    box-shadow: 10px 10px #F6f6e9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#screen {
    background-color: #1D7151;
    flex: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-color: #F6f6e9;
    border-width: 1px;
    border-radius: 6%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
    justify-content: space-between;
    text-align-last: right;
    color: #F6f6e9;
    font-family: 'digital-7mono', sans-serif;
}

#topScreen {
    font-size: 18px;
    flex: none;
    margin: 0;
    height: 30px;
    width: 280px;
}

#botScreen {
    font-size: 40px;
    flex: none;
    margin: 0;
    height: 55px;
    width: 280px;
    vertical-align: text-bottom;
}


.calcButtons {
    flex: 1;
    display: grid;
    padding: 3px;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

button {
    background-color: #F6f6e9;
    border: 2px solid #1D7151;
    border-radius: 30px;
    box-shadow: #1D7151 4px 4px 0 0;
    color: #00004D;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    position: relative;
}

button:hover {
    background-color: #1D7151;
    border: 2px solid #F6f6e9;
}

button:active {
    box-shadow: #1D7151 0px 0px 0 0;
    top: 5px;
    left: 5px;
}

#exponent {
    font-style: italic;
    font-size: 20px;
    text-indent: 3px;
}

footer {
    margin-top: 50px;
    background-color: darkorange;
    padding: 10px;
    height: 40px;
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

ion-icon {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #F6f6e9;
}

/* #1d7151 */
/* #00004D */
/* #F6f6e9 */
/* #DC661F */